@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Expletus+Sans:100,200,300,400,500,600,700');

/* ---------------------------------------------HTML/Body */

html, body {
    background-color: #a6a6a6;
    height: 100%;
    margin: 0;
}

/* ---------------------------------------------Heading */

.nav-container {
    margin: auto;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 60px; 
    color: #a6a6a6;
}

.sticky-top {
    position: sticky;
}

/* ---------------------------------------------Section */

section {
    min-height: 100%;
    margin-bottom: -50px;
}

.push {
    height:50px;
    display: block;
}

.page-name {
  font-family: "Expletus+Sans", sans-serif;  
  text-transform: uppercase;
  text-align: center;
  color: #FFFF00;
  padding-top: 85px;
  font-size: 100px;
}

.header-line {
    border: 1px solid #FFFF00;
    width: 50%;
}

.home-image {
    text-align: center;
    display: block;
    padding-top: 25px;
}

.home-text {
    font-family: "Roboto", sans-serif;
    text-align: center;
    display: block;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.review-text {
    font-family: "Roboto", sans-serif;
    text-align: center;
    display: block;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    width: 70%;
    margin-left: auto;
    margin-right: auto;  
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    text-align: center;
    padding-bottom: 100px;
}

/* ---------------------------------------------Footer*/

.footer {
    text-align: center;
    width: 100%; 
    height: 50px;
}

.contactfooter {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    padding-right: 10px;
}

.social-links li a i {
    font-size: 40px;
    text-align: center;
    color: #000000;
}

.list-inline {
    display: inline-block;
    padding-left: 10px;
}

/* ---------------------------------------------Hover.css */

a:hover {
    color: #FFFF00;
}

.social-links li a i:hover {
    color: #FFFF00;
}

a:active {
    color: #FFFF00;
}